* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  box-sizing: border-box;
  overflow: scroll;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  background-color: var(--color1);
  height: 100vh;
  color: var(--color2);
  text-shadow: 0px 0px 5px var(--color3);
}

.nav {
  display: flex;
  align-items: baseline;
  transition: flex 0.3s ease-out;
  padding: 0 8px;
  background-color: var(--color4);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow: 0px 5px 3px var(--color3);
}

.nav h1 {
  font-size: 108px;
  flex-grow: 10;
}

.nav ul {
  display: flex;
  text-align: center;
}

.nav li {
  padding: 12px;
  font-size: 60px;
  flex: 1 0 auto;
}

.nav li > form {
  align-items: center;
}

.nav li > form label {
  font-size: 32px;
}

.nav-element {
  display: flex;
}

.nav-element:hover > * {
  transition: width 0.5s ease;
  width: 100%;
  height: auto;
}

.nav-element > * {
  display: flex;
  flex-direction: column;
}

.nav-element-form {
  height: 0;
  width: 0;
}
.nav-element {
  transition-duration: 1s;
}
.session {
  display: none;
}

#logout:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.main {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.upload {
  flex: 1;
  max-width: 40vh;
  min-width: 20vh;
  text-align: center;
  display: block;
  background-color: var(--color3);
  padding: 0 8px;
}

.upload > h4 {
  font-size: 32px;
  padding-bottom: 12px;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 30%;
  padding-bottom: 20px;
}

.upload-form > * {
  width: 80%;
  align-content: center;
}

.current-video {
  padding-top: 20px;
  text-align: left;
  position: relative;
}

.library {
  overflow-x: auto;
  background-color: var(--color3);
  padding: 12px;
  margin: 52px;
}

.library-header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  background-color: var(--color4);
}

.library-header > h4 {
  flex: 1;
  font-size: 24px;
}

.library-header > p {
  flex: 5;
}

.library-list {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}
.library-list > li {
  width: 18%;
  position: relative;
}

.library-list li > video {
  margin: 20px;
  width: 80%;
  cursor: pointer;
}

.selected {
  border: var(--color5) 2px solid;
  box-shadow: var(--color3);
}

.hide {
  display: none;
}

#filter {
  display: flex;
}

.filter-el {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100px;
}

#filter > * {
  padding: 8px;
}

.range {
  transform: rotate(90deg);
}

#ranges {
  display: flex;
  flex-direction: row;
}

.filtering {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}

.filtering > * {
  padding: 8px;
  display: flex;
  justify-content: baseline;
}

.not-selected {
  display: none;
}
