@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;400;600&display=swap");

:root {
  --main-font: "Antonio";
  --primary-color: aliceblue;
  --secondary-color: tomato;
  --other-color: black;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/* Wrapper Start */
.wrapper {
  font-family: var(--main-font), monospace;
  background-color: var(--primary-color);
  min-height: 100vh;
}
/* Wrapper End */

/* Nav Section Start */
.nav {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-radius: 0 0 25px 25px;
  box-shadow: 0 1px 12px var(--other-color);
}

.nav > h1 {
  flex-grow: 10;
  flex-shrink: 1;
  font-size: 16vw;
  color: var(--primary-color);
  text-shadow: 1vw 1vw 0.33vw var(--other-color);
  padding: 10px;
}

.nav > ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-shrink: 10;
  justify-content: space-around;
  font-size: 2.5em;
  padding-right: 2vw;
}

.nav > ul > .session-controller > span:hover,
.menu-button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.session-controller {
  display: none;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  .nav > h1 {
    font-size: 9vw;
    text-shadow: 0.4vw 0.4vw 0.16vw var(--other-color);
  }
  .nav > ul > .session-controller {
    display: flex;
  }
  .menu-button {
    display: none;
  }
}

.logout-no-session {
  display: none;
}

.session-options-show {
  display: flex;
}

.session-options-nav {
  flex-wrap: wrap;
}

/* Nav Section End */

/* Main Section Start */
.main {
  margin: 3vw 2vw;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.upload {
  min-width: 30%;
  flex: 1 5 auto;
}
/* Main Section End */

/* Video Player Section Start */

.player {
  max-width: 900px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  position: relative;
  font-size: 0;
  overflow: hidden;
  flex: 5 1 auto;
  box-shadow: 0 1px 6px var(--other-color);
}

/* This css is only applied when fullscreen is active. */
.player:fullscreen {
  max-width: none;
  width: 100%;
}

.player:-webkit-full-screen {
  max-width: none;
  width: 100%;
}

.player__video {
  width: 100%;
}

.player__button {
  background: none;
  border: 0;
  line-height: 1;
  color: white;
  text-align: center;
  outline: 0;
  padding: 0;
  cursor: pointer;
  max-width: 50px;
}

.player__button:focus {
  border-color: #ffc600;
}

.player__slider {
  width: 10px;
  height: 30px;
}

.player__controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(100%) translateY(-5px);
  transition: all 0.3s;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 0.1);
}

.player:hover .player__controls {
  transform: translateY(0);
}

.player:hover .progress {
  height: 15px;
}

.player__controls > * {
  flex: 1;
}

.progress {
  flex: 10;
  position: relative;
  display: flex;
  flex-basis: 100%;
  height: 5px;
  transition: height 0.3s;
  background: rgba(0, 0, 0, 0.5);
  cursor: ew-resize;
}

.progress__filled {
  width: 50%;
  background: #ffc600;
  flex: 0;
  flex-basis: 50%;
}

/* unholy css to style input type="range" */

.video-range {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
  margin: 0 5px;
}

.video-range:focus {
  outline: none;
}

.video-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: rgba(255, 255, 255, 0.8);
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

.video-range::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.video-range:focus::-webkit-slider-runnable-track {
  background: #bada55;
}

.video-range::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid rgba(1, 1, 1, 0);
}

.video-range::-moz-range-thumb {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background: #ffc600;
  cursor: pointer;
}

/* Video Player Section End */

/* Sidebar start */

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar > * {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 2vh;
}
@media screen and (max-width: 800px) {
  .sidebar > * {
    display: none;
  }
}

.sidebar > * > hr {
  width: 95%;
}

.sidebar > * > h4 {
  font-size: 2em;
}

.sidebar > * > ul {
  list-style-type: none;
}

/* Sidebar end */

/* Session Forms */

/* Full-width input fields */
.signup-form *,
.login-form * {
  font-size: 0.75em;
  align-items: center;
}
.signup-form input[type="text"],
.signup-form input[type="password"],
.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.signup-form input[type="text"]:focus,
.signup-form input[type="password"]:focus,
.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.signup-form hr,
.login-form hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
.signup-form button,
.login-form button {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.signup-form button:hover,
.login-form button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.signup-form .cancelbtn,
.login-form .cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.signup-form .cancelbtn,
.signup-form .signupbtn,
.login-form .cancelbtn,
.login-form .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.signup-form .container {
  padding: 16px;
}

/* Clear floats */
.signup-form .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .signup-form .cancelbtn,
  .signup-form .signupbtn {
    width: 100%;
  }
}

.not-clicked {
  display: none;
}
